<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : asset_path('camera.jpg') %>);">
  <h3><%= @list.name %></h3>
  <p class="show-movies-count"> <%= @list.movies.count %> </p>
</div>
<div class="container mt-3 pb-3">
  <div class="row justify-content-center">
    <% @list.movies.each do |movie| %>
      <div class="col-10 col-6-md col-lg-4 movie-card">
        <div class="movie-image">
          <%= image_tag movie.poster_url, class: "movie-card-image" %>
        </div>
        <div class="movie-info">
          <h3><%= movie.title %></h3>
          <p><%= movie.overview %></p>
        </div>
      </div>
    <% end %>
    <hr>
  </div>
  <%= link_to 'Add movie', new_list_bookmark_path(@list), class: 'btn btn-primary' %>
  <%= link_to 'Back', lists_path, class: 'btn btn-primary' %>
</div>
