<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @list.name %></h1>
      <hr>
      <h2>Movies</h2>
      <ul class="list-group mb-3">
        <% @list.movies.each do |movie| %>
          <li class="list-group-item">
            <%= movie.title %>
          </li>
        <% end %>
      </ul>
      <hr>
      <h2>Bookmarks</h2>
      <ul class="list-group mb-3">
        <% @list.bookmarks.each do |bookmark| %>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <%= bookmark.comment %>
              <%= link_to "Delete",
              bookmark_path(bookmark),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
            </div>
          </li>
        <% end %>
      </ul>
      <hr>
      <%= link_to 'Add a bookmark', new_list_bookmark_path(@list) %>
    </div>
  </div>
</div>
